  
   <!--  <button ng-click="toggleLogOrReg()">{{ LogRegLabel }}</button> -->
  



<div class="overlay logBox">

  <div layout="column" layout-align="center center" layout-fill="layout-fill" >

    <div class="tab-content clearfix">
      <div  ng-show="logOrReg">
        <div layout="column" class="loginBox md-whiteframe-z1">
          <form id="login" name="users.loginForm" ng-submit="users.login()" novalidate>
            <md-toolbar>
              <h2 class="md-toolbar-tools"><span>Login</span></h2>
              <img src="./assets/images/Stack.png" id="lifeLine" />
            </md-toolbar>
            <md-content layout="column" class="md-padding">
              <md-input-container>
                <label>EmailAddress</label>
                <input type="email" class="form-control" id="email" placeholder="Email" name="email" ng-model="users.user.email" required>
              </md-input-container>
              <md-input-container>
                <label>Password</label>
                <input type="password" class="form-control" id="password" name="password"  placeholder="Password" ng-model="users.user.password" required>
              </md-input-container>
              <div layout="row" layout-align="center center" style="padding-top:20px;">
                <md-button type="submit" class="md-raised md-primary">Login</md-button>
                <div flex="flex"></div>
                <a href="#" ng-click="toggleLogOrReg()">New user? click here to register</a>
             </div>
            </md-content>
          </form>
        </div>

        <div class="alert alert-danger" role="alert" ng-show="(!!users.error && users.loginForm.$submitted)">{{ users.error }}</div>
        <div class="alert alert-danger" role="alert" ng-messages="users.loginForm['email'].$error" ng-show="(users.loginForm.$submitted && users.loginForm['email'].$invalid)">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <span ng-message="required">Email is required.</span>
        </div>
        <div class="alert alert-danger" role="alert" ng-messages="users.loginForm['password'].$error" ng-show="(users.loginForm.$submitted && users.loginForm['password'].$invalid)">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <span ng-message="required">Password is required.</span>
        </div>
      </div>
      <div ng-hide="logOrReg">

          <div layout="column" class="registerBox md-whiteframe-z1">
            <form id="register" name="users.registerForm" ng-submit="users.register()" novalidate>
              <md-toolbar>
                <h2 class="md-toolbar-tools"><span>Register</span></h2>
                <img src="./assets/images/Stack.png" id="lifeLine" />
              </md-toolbar>

              <md-content layout="column" class="md-padding">

                <md-input-container class="regsterInput1">
                  <label>Username</label>
                  <input type="text" class="form-control" id="Username" placeholder="Username" name="Username" ng-model="users.user.username" required>
                </md-input-container>
                <md-input-container class="regsterInput">
                  <label>Name</label>
                  <input type="text" class="form-control" id="fullname" placeholder="Name" name="fullname" ng-model="users.user.fullname" required>
                </md-input-container>
                <md-input-container class="regsterInput">
                  <label>EmailAddress</label>
                  <input type="email" class="form-control" id="email" placeholder="Email" name="email" ng-model="users.user.email" required>
                </md-input-container >
                <md-input-container class="regsterInput">
                  <label>Password</label>
                  <input type="password" class="form-control" id="password" name="password"  placeholder="Password" ng-model="users.user.password" required>
                </md-input-container>
                <md-input-container class="regsterInput">
                  <label>Password Confirmation</label>
                  <input type="password" class="form-control" id="passwordConfirmation" name="passwordConfirmation"  placeholder="Password Confirmation" ng-model="users.user.passwordConfirmation" required>
                </md-input-container>
                <md-input-container class="regsterInput">
                  <div layout="row" layout-align="center center regsterInput1">
                    <md-button type="submit" class="md-raised md-primary regsterInput1">Register</md-button>
                    <div flex="flex"></div>
                    <a href="#" ng-click="toggleLogOrReg()">Already registered? Click here to login</a>
                  </div>
              </md-content>
            </form>
          </div>

          <div class="alert alert-danger" role="alert" ng-show="(!!users.error && users.registerForm.$submitted)">{{ users.error }}</div>
          <div class="alert alert-danger" role="alert" ng-messages="users.registerForm['email'].$error" ng-show="(users.registerForm.$submitted && users.registerForm['email'].$invalid)">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            <span ng-message="required">Email is required.</span>
          </div>
          <div class="alert alert-danger" role="alert" ng-messages="users.registerForm['password'].$error" ng-show="(users.registerForm.$submitted && users.registerForm['password'].$invalid)">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            <span ng-message="required">Password is required.</span>
          </div>
          <div class="alert alert-danger" role="alert" ng-messages="users.registerForm['passwordConfirmation'].$error" ng-show="(users.registerForm.$submitted && users.registerForm['passwordConfirmation'].$invalid)">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            <span ng-message="required">Password Confirmation is required.</span>
          </div>
      </div>
    </div>



  </div>
</div>


