<h4> {{ topics.topic._id }} </h4>
<h3> {{ topics.topic.title | uppercase }} </h3>
<section>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <img ng-src="{{ users.user.local.image }}">
      <div class="caption">
        <p> User: {{ topics.topic.user.local.username }}</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div id="chatRoom">

  </div>
  <form id="newChat" name="chats.newChatForm" ng-submit="chats.sendMessege()" novalidate>
    <div class="form-group">
      <label for="title"> Type message here </label>
      <input type="text" class="form-control" id="title" placeholder="Type message here" ng-model="chats.chat">
    </div>
  <button type="submit" class="btn btn-default">Send</button>
  </form>
</section>
<br><br><br>

<section ng-hide="topics.justForOwner('5784fdcaec531309e726950f')">
  <form id="newTopic" name="topics.updateTopicForm" ng-submit="topics.closeTopic(topics.topic._id)" novalidate>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="newTopicTitle" placeholder="title" ng-model="topics.topic.title">
      <label for="solution"> User </label>
      <input type="text" class="form-control" id="newTopicUser" placeholder="user" ng-model="topics.topic.helpedUser">
      <label for="user"> Solution </label>
      <input type="text" class="form-control" id="newTopicSolution" placeholder="Solution" ng-model="topics.topic.solution">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

</section>
