/*HOME PAGE*/

.display {
  border: 1px solid black;
  height: 300px;
}

/* END HOME PAGE*/

/*CHAT*/
.conversation-wrap
{
    box-shadow: -2px 0 3px #ddd;
    padding:0;
    max-height: 400px;
    overflow: auto;
}
.conversation
{
    padding:5px;
    border-bottom:1px solid #ddd;
    margin:0;

}

.message-wrap
{
    box-shadow: 0 0 3px #ddd;
    padding:0;

}
.msg
{
    padding:5px;
    /*border-bottom:1px solid #ddd;*/
    margin:0;
}
.msg-wrap
{
    padding:10px;
    height: 450px;
    max-height: 450px;
    overflow: auto;

}

.time
{
    color:#bfbfbf;
}

.send-wrap
{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding:10px;
    /*background: #f8f8f8;*/
}

.send-message
{
    resize: none;
}

.highlight
{
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

.send-message-btn
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;

    border-bottom-right-radius: 0;
}
.btn-panel
{
    background: #f7f7f9;
}

.btn-panel .btn
{
    color:#b8b8b8;
    margin-left: 300px;
    transition: 0.2s all ease-in-out;
}

.btn-panel .btn:hover
{

    color:#666;
    background: #f8f8f8;
}
.btn-panel .btn:active
{
    background: #f8f8f8;
    box-shadow: 0 0 1px #ddd;
}

.btn-panel-conversation .btn,.btn-panel-msg .btn
{

    background: #f8f8f8;
}
.btn-panel-conversation .btn:first-child
{
    border-right: 1px solid #ddd;
}

.msg-wrap .media-heading
{
    color:#003bb3;
    font-weight: 700;
}


.msg-date
{
    background: none;
    text-align: center;
    color:#aaa;
    border:none;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
}



body::-webkit-scrollbar {
    width: 12px;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
/*        -webkit-border-radius: 10px;
    border-radius: 10px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
/*        -webkit-border-radius: 10px;
    border-radius: 10px;*/
    background:#ddd; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #ddd; 
}

/* END CHAT*/

.overlay{
    opacity:0.8;
    background-color:#ccc;
    background: url('https://dnbradio.com/assets/swframework/lifeline.jpg') no-repeat center center fixed;
    background-size: cover;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1;
}

#lifeLine {
	position: absolute;
	max-width: 50%;
	top: 10%;
	left: 59%;
	border-radius: 3px;

}

.loginBox {
  margin-top: 30px;
  max-width:  90%;
  width: 400px
}

.stretch input  {
  width: 100%
}


#logo-container{
  margin: auto;
  margin-bottom: 10px;
  width:200px;
  height:30px;
  background-image:url('http://i.imgur.com/pwGRqiR.png');
}
md-content.md-default-theme {
  background-color: $gray;
}
md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}
h2 {
  font-weight: 400;
}
.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
  }
}
.user-avatar {
  border-radius: 99%;
}



/*images caourosel*/

/* Makes images fully responsive */

    .img-responsive,
    .thumbnail > img,
    .thumbnail a > img,
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
      display: block;
      width: 100%;
      height: auto;
    }

    /* ------------------- Carousel Styling ------------------- */

    .carousel-inner {
      border-radius: 15px;
    }

    .carousel-caption {
      background-color: rgba(0,0,0,.5);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      padding: 0 0 10px 25px;
      color: #fff;
      text-align: left;
    }

    .carousel-indicators {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      z-index: 15;
      margin: 0;
      padding: 0 25px 25px 0;
      text-align: right;
    }

    .carousel-control.left,
    .carousel-control.right {
      background-image: none;
    }


    /* ------------------- Section Styling - Not needed for carousel styling ------------------- */

    .section-white {
       padding: 10px 0;
    }

    .section-white {
      background-color: #fff;
      color: #555;
    }

    @media screen and (min-width: 768px) {

      .section-white {
         padding: 1.5em 0;
      }

    }

    @media screen and (min-width: 992px) {

      .container {
        max-width: 930px;
      }

    }
