<div class="container">
    <div class="row">
        <div class="conversation-wrap col-lg-3">
            <div class="media conversation" ng-repeat="user in users.all | online:users.onlineUsers">
                <a class="pull-left" href="#">
                    <user-avatar></user-avatar> 
                    <!-- <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 50px; height: 50px;" src="img"> -->
                </a>
                <div class="media-body">
                    <h5 class="media-heading"> {{user.local.username}} </h5>
                </div>
            </div>
        </div>
        <div class="message-wrap col-lg-8">
            <div class="msg-wrap">

                <div class="media msg ">
                   <!--  <a class="pull-left" href="#">
                        <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 32px; height: 32px;" src="">
                    </a> -->
                    <div class="media-body" id="chatMsg">
                        <!-- <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small> -->
                       <!--  <h5 class="media-heading"> name </h5>
                        <small class="col-lg-10"> msg </small> -->
                    </div>
                </div>
            </div>
            <form id="newChat" name="topics.newChatForm" ng-submit="users.sendMessege()" novalidate >
              <div class="send-wrap ">
                  <textarea class="form-control send-message" rows="3" placeholder="type messege..." ng-model="users.chat"></textarea>
              </div>
              <div class="btn-panel">
                  <md-button type="submit" class="md-primary btn" aria-label="Send Msg">Send</md-button>
              </div>
            </form>
        </div>
    </div>
</div>
