<section>
  <h2>Chat</h2>
  <div id="chatRoom">
    
  </div>
  <form id="newChat" name="chats.newChatForm" ng-submit="chats.sendMessege()" novalidate>
    <!-- <div class="alert alert-danger" role="alert" ng-show="(!!users.error && users.registerForm.$submitted)">{{ users.error }}</div> -->

    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" placeholder="title" ng-model="chats.chat">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</section>
