

<!-- <section ng-controller="VideosController as videos">
  <h1>{{ videos.currentUser.local.fullname }}</h1>

  <div class="container">
      <div class="row">
          <div class="col-md-6 col-md-offset-0 display"  >
              <iframe width="100%" height="100%" ng-src="{{videos.currentVideo}}" frameborder="0 " allowfullscreen></iframe>
          </div>
          <div class="col-md-4 col-md-offset-1 display">
            <ul ng-repeat="src in videos.all">
              <li> {{ src }} </li>
              <button ng-click="videos.changeVideo('FGBhQbmPwH8')""></button>
            </ul>
          </div>
      </div>
  </div>
</section> -->


